<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/addproduct.css">

</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <div class="card">
              <!-- <div class="card_title">
                <h1>Create Account</h1>
                <span>Already have an account? <a href="/login">Log In</a></span>
              </div> -->
              <div class="form">
                <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
                    <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>" placeholder="ProductName" />
                    <input type="file" name="image" id="image" placeholder="Image"/>
                    <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>" placeholder="Price" />
                    <input type="text" name="description" id="description" rows="5" placeholder="Description" value="<% if (editing) { %><%= product.description %><% } %>">
                    <% if (editing) { %>
                        <input type="hidden" value="<%= product._id %>" name="productId">
                    <% } %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                </form>
              </div>
              <div class="card_terms">
                  <input type="checkbox" name="" id="terms"> <span>Be Careful on submitting </span>
              </div>
            </div>
          </div>



        <!-- <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form> -->
    </main>
<%- include('../includes/end.ejs') %>