<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://js.stripe.com/v3/">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cart.length > 0) { %>
                <ul class="cart__item-list">
                    <% cart.forEach(cart_item => { %>
                        <li class="cart__item">
                            <h1><%= cart_item.prodId.title %></h1>
                            <h2>Quantity: <%= cart_item.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= cart_item.prodId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="devider"></div>
                <div class="form__centered">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>

        <section class="footer">
            <div class="col1">
                <span class="col1__heading">
                    O-Shop
                </span>
            </div>

            <div class="col2">
                <span class="footer_link"><a href="./contact">Contact</a></span>
            </div>

            <div class="col3">
                <span class="footer_link"><a href="./aboutus">About Us</a></span>
            </div>

        </section>
        <%- include('../includes/end.ejs') %>