<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - User-Name - <%= order.userId.username %> | Download Invoice :- <a href="/orders/<%= order._id %>">Link</a> </h1>
                            <ul class="orders__products">
                                <% order.products.forEach(product => { %>
                                    <li class="orders__products-item"><%= product.prodId.title %> - Qty:- <%= product.quantity %></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <section class="footer">
            <div class="col1">
                <span class="col1__heading">
                    O-Shop
                </span>
            </div>

            <div class="col2">
                <span class="footer_link"><a href="./contact">Contact</a></span>
            </div>

            <div class="col3">
                <span class="footer_link"><a href="./aboutus">About Us</a></span>
            </div>

        </section>
        <%- include('../includes/end.ejs') %>